body 
{
/*   background-color: #996699; */
  background-color: #073642;
  font-size: 1.5em;
  font-family: source-serif-pro, serif;
  color: #93a1a1;
  line-height: 1.4em;
  margin: 0;
}

p { margin: 0.5em 0 0.5em 0 }

a 
{
  text-decoration: none;
  color: #eee8d5;
  font-size: 1em;
}

a:hover 
{
  color: #fdf6e3 ! important;
}

a:active 
{
  color: #fdf6e3;
}

blockquote 
{
  text-align: justify;
  font-size: medium;
  line-height: 1.2em;
  margin-left: 2em;
  margin-right: 8em;
}

ol { font-size: x-large; line-height: 1.3em }

li 
{
  padding-bottom: 10px;
}

.date-modified 
{ 
  font-size: small; 
  color: #222; 
  font-style: italic; 
  padding-top: 50px 
}

.main 
{ 
text-align: left; 
margin-left: 20%; 
margin-right: 20%;
}
